@import "compass/reset";
@import "compass/css3/transition";
@import "dm-carrousel/style";


h1 {
	font-size: 180%;
	margin: 20px 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.dm-car-container {
	position: relative;
}

.carrousel-container {
	width: 600;
	margin: 0px auto;
}

