@import "compass/css3/transition";

ul.dm-car {
	display: block;
	width: 600px;
	height: 300px;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	
	li {
		display: block;
		position: absolute;
		top:0;
		@include transition(left 500ms ease-out);
		left: 600px;
		width: 600px;
		height: 300px;
		img {
			width: 100%
		}
		&.current {
			left: 0;
			@include transition(left 500ms ease-out);
			z-index: 100;
			
		}
		&.next {
			left: 600px;
			z-index: 10;
		}
		
		&.prev {
			left: -600px;
			@include transition(left 500ms ease-out);
			z-index: 2;
		}
	}
}

.dm-car-controls {

	position: absolute;
	top: 0;
	left: 0;
	width: 600px;
	height: 300px;
	
	.dm-car-control {
		display: inline-block;
		width: 50px;
		height: 300px;
		line-height: 300px;
		text-align: center;
		background-color: #ccc;
		background-color: rgba(30,30,30,.37);
		position: absolute;
		color: white;
		font-size: 24px;
		font-weight: bold;
		cursor: pointer;
		z-index: 200;
		
		&.dm-car-control-next {
			right: 0px;
		}
	}	
	
}

.dm-car-container {
	position: relative;
}

